# Connect to Infura API endpoint
export INFURA_API_KEY='4cbb1b6204174468b34379b4acdbd1cd'

# Connect to Alchemy API endpoint
export ALCHEMY_API_KEY='iCRGEDznwejK8zqRs3LG5OxiJEfHvUja'

# Used for verifying contracts on Etherscan
export ETHERSCAN_API_KEY=''

export MNEMONIC="mercy cricket truck dial enhance enter nominee prize phrase pigeon kid like"

# Deploy to Ethereum testnet(s)
export MNEMONIC_TESTNET="mercy cricket truck dial enhance enter nominee prize phrase pigeon kid like"

# Deploy to Ethereum mainnet
export MNEMONIC_MAINNET="mercy cricket truck dial enhance enter nominee prize phrase pigeon kid like"
export MAINNET_DEPLOY=


# Block number from which to fork
export FORK_BLOCK_NUMBER='11905343'

export TESTING_DEPLOYER_ACCOUNT='0x05dB4BE3A9D6F08230254EC9693Bbef0C9de3858'